node_modules
.pnpm-store
.tsbuildinfo
tsconfig.json
vite.config.ts
vitest.config.ts
eslint.config.js
prettier.config.js
tsup.config.js
README.md
components.json
.env*
.git
.gitignore
dist
!apps/client/dist
!apps/server/dist